<section>
  <div>
    <h1><span>5+ Jobs</span> Available </h1>
    <p>
      
    </p>
    <div class="job-filter-wrapper">
      <select name="" id="">
        <option value="Software developer">Software developer</option>
        <option value="Full-Stack Developer">Full-Stack Developer</option>
        <option value="Business Analyst">Business Analyst</option>
      </select>
      <select name="" id="">
        <option value="onsite">onsite</option>
        <option value="onsite">hybrid</option>
        <option value="onsite">remote</option>
      </select>
      <button>search</button>
    </div>
  </div>
</section>
